elpa/
*~
*cache/
straight/
elpaca/
transient/
recentf/
recentf
elpy/
*.bkp
*.db
*.eld
snippets/
*.dat
bookmarks
url/
.org-id-locations
*.desktop
tramp
projectile.cache
anaconda-mode/
.lsp-session*
var/
projects
places
eshell/
.chatgpt-shell.el
.mc-lists.el
history
multisession/
ellama-sessions/
dirvish/
doomemacs/
spacemacs/
